{% load static %}
{% include 'base.html' %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">Quiz App!</h2>
    <p class="lead">Hi Students, I welcome you to the online quiz app, here you can sharpen you knowledge by taking various quiz set available. </p>
    <p><strong>Read the instructions before you take the quiz!! </strong></p>
    <p>1. You must login to take the available quiz, if you don't have account please signup! </p>
    <p>2. Please use your rollNumber (provided in the school) as username. Note: All the rollNumber given in the school are of 8 characters. </p>
    <p>3. After signing, you can select the quiz you want to attend from the list of available quiz by clicking 'QuizList Tab'. </p>
    <p>4. Every quiz is set of 10 questions. Once you've selected the quiz you will be displayed with the all the questions. </p>
    <p>5. In the top of the quiz, your current score, total time taken and a timer will be displayed. </p>
    <p>6. Please click the 'end' quiz button to end the quiz. </p>
    <p>7. By clicking the 'View results' tab, you will be able to see your entire history of results.
    <p><strong> Happy Quizzing </strong></p> 
  </div>
